:root{
 --border-size: 5px; 
 background-color: #08090e;
}

body{
  margin: 0px;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
}

#root{
  background-image: url("./background/bg_3.png");
  max-height: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
}

.App {
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  max-height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  max-width: 80%;
  max-height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.card{
  background-color: transparent;
  border: var(--border-size) solid #BBA16D;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.card:hover{
  transform: scale(1.05, 1.05);
}

.card img{
  width: 100%;
  height: 100%;
}

.score-board-bg{
  font-family: 'Alfabetix';
  color: #ffffff;
  height: 150%;
  width: 150%;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  text-align: center;
  background-image: url('./background/bg_4.png');
  background-size: cover;
  z-index: 1;
  border: var(--border-size) solid #BBA16D;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.score-board{
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-areas: '.'
                       'score'
                       'highscore';
  grid-template-rows: 25% 50% 25%;
  width: 150%;
}

.score{
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 5vh;
  grid-area: score;
}

.score-board p {
  margin: 0px;
}

.highscore{
  align-self: flex-end;
  font-size: 2.5vh;
  grid-area: highscore;
}

.help-btn{
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('./background/bg_4.png');
  background-position: 60% 50%;
  border: var(--border-size) solid #BBA16D;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.help-btn button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.modal-bg{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  border-radius: 20px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('./background/bg_4.png');
  background-size: contain;
  border: 5px solid #BBA16D;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
  font-size: 20px;
}

.rules-wrapper{
  background-color: rgba(26, 27, 41, 1);
  border-radius: 20px;
}

.modal h1{
  margin: 0px;
  margin-top: 15px;
  text-align: center;
}

.modal li{
  margin-top: 15px;
  margin-right: 20px;
}

.modal li:last-child{
  margin-bottom: 15px;
}

@media (orientation: portrait) {
  :root{
    --border-size: 3px;
  }
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-height: 100%;
    max-width: 85%;
  }

  .score{
    font-size: 2.5vh;
  }

  .highscore{
    font-size: 1.5vh;
  }

  .help-btn{
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .modal{
    padding: 50px 0px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-height: 600px) and (min-width: 540px){
  .card-container{
   width: 70%;
  }
}

@media (orientation: portrait) and (max-height: 500px) {
  .card-container{
    gap: 10px;
    width: 70%;
  }

  .help-btn{
    bottom: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
  }

  .score{
    font-size: 4vh;
  }

  .highscore{
    font-size: 2.5vh;
  }

  .help-btn button{
    font-size: 24px;
  }
}

@media (orientation: portrait) and (max-height: 350px){
  :root{
    --border-size: 2px;
  }

  .card-container{
    width: 60%;
  }
}

@media (orientation: landscape) and (max-height: 350px) {
  :root{
    --border-size: 3px;
  }

  .card-container{
    max-width: 90%;
    gap: 15px;
  }

  .score{
    font-size: 6vh;
  }

  .highscore{
    font-size: 3vh;
  }

  .help-btn{
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

}

@media (orientation: landscape) and (max-height: 250px) {
  .help-btn{
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
  }

  .help-btn button{
    font-size: 26px;
  }
}

@media (orientation: landscape) and (max-height: 300px) and (min-width: 500px) {
  .card-container{
    max-width: 70%;
  }
}

@media (orientation: landscape) and (min-height: 720px) and (max-height: 900px){
  .card-container{
    max-width: 90%;
    gap: 30px;
  }

  .help-btn{
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
}

@media (orientation: landscape) and (min-height: 250px) and (min-width: 520px) and (max-height: 650px){
  :root{
    --border-size: 3px;
  }
  .card-container{
    max-width: 60%;
    gap: 15px;
  }

  .help-btn{
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
  }

  .modal{
    font-size: 16px;
    padding: 25px 0px;
  }

  .modal h1{
    font-size: 25px;
  }
}

@font-face {
  font-family: 'Alfabetix';
  src: url('./fonts/alfabetix-font/Alfabetix-WYA.ttf');
}